<div class="container">
  <header
    class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom"
  >
    <a
      href="/"
      class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none"
    >
      <span class="fs-4">Simple header</span>
    </a>

    <ul class="nav nav-pills">
      <li class="nav-item">
        <a routerLink="/home" routerLinkActive="active" class="nav-link" aria-current="page">Home</a>
      </li>
      <li class="nav-item"><a routerLink="/task1" routerLinkActive="active" class="nav-link">Task 1</a></li>
      <li class="nav-item"><a routerLink="/task2" routerLinkActive="active" class="nav-link">Task 2</a></li>
      <li class="nav-item"><a routerLink="/task3" routerLinkActive="active" class="nav-link">Task 3</a></li>
    </ul>
  </header>
</div>